<%- include layouts/header.ejs %>

    <div class="container">
      <h1><%= title %></h1>
        <div class="jumbotron">
            <h1 class="display-4"><%= title %></h1>
            <p class="lead">Test Bsale.</p>
            <hr class="my-4">
            <p>Pagina nosotros para mostrar información de dueños de test bsale.</p>
            <a class="btn btn-primary btn-lg" href="https://www.bsale.cl/" target="_blank" role="button">Visitar</a>
        </div>
    </div>

<%- include layouts/footer.ejs %>